<div class="row">
  <div class="large-12 columns">
    <div class="panel">
    <b>Caution:</b> Reliance upon GPS in the mountains may get you lost.  For the most enjoyable
    Yosemite experience, please take the time to plan your road trip accordingly.  Also,
    just before you enter the Sierra foothills note that the speed limit is heavily policed
    well into Yosemite National Park and Highway 140
    </div>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">
  </div>
  <div class="large-10 columns">
    <div class="litetooltip-hotspot-wrapper" style="max-width: 680px">
    <div class="litetooltip-hotspot-container" style="padding-bottom: 70.73529411764706%">
    <%= image_tag('YosemiteRegionMap.jpg', alt: 'Yosemite Valley Map', class: 'map') %><br>
    <div class="hotspot blink" style="top: 75.67567567567568%; left: 24.264705882352942%; width: 2.941176470588235%; height: 4.158004158004158%; background: #cc0000; border: 1px solid #cc0000; border-radius: 20px; opacity: 0.8" id="hotspot_1447298702977" data-location="top" data-template="" data-templatename="" data-opacity="0.8" data-backcolor="#000000" data-textcolor="#ffffff" data-textalign="center" data-margin="5" data-padding="10" data-width="0" data-delay="0" data-trigger="hover" data-issticky="true" data-hotspot-x="24.264705882352942" data-hotspot-y="75.67567567567568" data-hotspot-blink="true" data-hotspot-bgcolor="#cc0000" data-hotspot-bordercolor="#cc0000" data-hotspot-borderradius="20">
      <div class="data-container">
        Yosemite Bug <br>
        6979A Highway 140, Midpines CA 95345
      </div>
    </div>
    <script type="text/javascript">
    $('.litetooltip-hotspot-wrapper .hotspot').each(function () {
        $(this).LiteTooltip({ title: $(this).find('.data-container').html() });
     });
    </script>

    </div>
    </div>
      Hover over map for information.
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h3>Public Transportation</h1>
    <b>Amtrak</b>
    <p>
      Book your ticket round trip from San Francisco, Sacramento or Los Angeles to Yosemite Valley, any destination in Yosemite Valley is fine. (Yosemite Lodge, Visitor Center). This IS the best public transit option. Generally this trip is a train and bus mixed journey and is wonderfully inexpensive. Ask the driver on the last leg of the journey to drop you at the Bug, be prepared to walk up our 1/8th of a mile driveway from the bus stop, if arriving after dusk, bring a flash light.
    </p>
    <p>
      Use www.amtrak.com -- it's easy!	Book the earliest trip you can so you can stop at the Bug and drop your luggage and jump back onto a shuttle into Yosemite Valley to get a half day.
    </p>
    <p>
      Those coming on Amtrak or Greyhound recieve a 15% discount on any charge here at the Bug for leaving a good carbon footprint. Ask at the Front Desk upon arrival
    </p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h3>Automobile Directioins</h1>
    <b>Driving Tips</b>
    <p>
      From San Francisco: Take the Bay Bridge to 580 East, before Stockton bear right towards Los Angeles on 580 East (not forward onto 205 East), take 132 East to Modesto where you will find 99 South to Merced. Take 140 East towards Yosemite. Nine and a half miles after the town of Mariposa look for the address at Yosemite Bug Rustic Mountain Resort sign & turn left. Follow signs up road. 3-3.5 hours.
    </p>
    <p>
      From Northern California: Make your way to Sacramento and then 99 South going towards Merced. Take 140 East towards Yosemite. Nine and a half miles after the town of Mariposa look for the address at Yosemite Bug Rustic Mountain Resort sign & turn left. Follow the signs up road. 3.5 hours from Sacramento.
    </p>
    <p>
      From Southern California: Make your way to Bakersfield and take 99 North to Merced. Take 140 East to Yosemite. Nine and a half miles after the town of Mariposa look for the address at Yosemite Bug Rustic Mountain Resort sign & turn left. Follow the signs up road. 5.5 hours from LA.
    </p>
    <p>
      From Lake Tahoe in Summer: Take 207 East from South Lake Tahoe to Gardnerville and then 395 South to Lee Vining. Go into Yosemite on 120 West. Follow the signs into Yosemite Valley itself. Take 140 West out of the Yosemite National Park. 20 miles after the town of El Portal at edge of Park, make a right hand turn just before the Yosemite Bug Rustic Mountain Resort sign. 4.5 hours from South Lake Tahoe
    </p>
    <p>
      From Lake Tahoe in Winter: (Mid-October thru Mid-May): Take 50 East from Tahoe to Placerville, and then 49 South to Mariposa. Take 140 East to Yosemite. Nine and a half miles after the town of Mariposa look for the address at Yosemite Bug Rustic Mountain Resort sign & turn left. Follow the signs up road.
    </p>
    <p>
      From Las Vegas in Summer: (through Death Valley): take 160 West just south of Vegas to 372 West (Tecopa) to 178 West in California. This goes through Death Valley to 190 West to 136 West to Lone Pine. From there take 395 North to Lee Vining. Go into Yosemite on 120 West. Follow the signs into Yosemite Valley itself. Take 140 West out of the Yosemite National Park. 20 miles after the town of El Portal at edge of Park, make a right hand turn just before the Yosemite Bug Rustic Mountain Resort sign. 12 hours
    </p>
    <p>
      From Las Vegas in Winter: (mid-October thru mid-May) or faster way : take 15 West from Vegas to Barstow, 58 West to Bakersfield and 99 North to Merced. Take 140 East towards Yosemite. Look for the Yosemite Bug Rustic Mountain Resort sign 9.5 miles past Mariposa. Make a left hand turn. 9 hours.
    </p>
    <p>
      WINTER NOTE: Highway 120 from Lee Vining on the East Sierra closes after the first major snowstorms generally from early November though late May. Use the alternative routes listed below as Winter routes. Hetch Hetchy road and Glacier Point Road past Badger Pass Ski Area, and Mariposa Grove Road all close as well over the course of the winter and reopen in good weather conditions.
    </p>
    <p>
      Highway 140, 120 and 41 within the Park all close occasionally due to heavy weather (140 is open 95% of the time as it is the all-weather low elevation entrance route). Bring chains every trip by car in winter in case required. There is plenty to do and see in Winter and Yosemite Valley is at its most beautiful.
    </p>
  </div>
</div>
