<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <b>Caution:</b> Reliance upon GPS in the mountains may get you lost.  For the most enjoyable
      Yosemite experience, please take the time to plan your road trip accordingly.  Also,
      Just before you enter the Sierra foothills note that the speed limit is heavily policed
      well into Yosemite National Park and Highway 140
    </div>
  </div>
</div>

<div class="row">
  <div class="large-1 columns">
    some text
  </div>
  <div class="large-10 columns">
      <%= image_tag('YosemiteRegionMap.jpg', alt: 'Yosemite Valley Map') %><br>
      Hover over map for information.
  </div>
  <div class="large-1 columns">
    more teext
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h1>Public Transportation</h1>
    <b>Amtrak</b>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h1>Automobile Directioins</h1>
    <b>Driving Tips</b>
  </div>
</div>
