<div class="litetooltip-hotspot-wrapper" style="max-width: 680px">
<div class="litetooltip-hotspot-container" style="padding-bottom: 70.73529411764706%">
<img src="https://rocky-waters-2636.herokuapp.com/assets/YosemiteRegionMap-676a4b3d8ac15176cf373e3444c3cde31dff8497924ad2ff54d79be1cf274acf.jpg" data-width="680" data-height="481" />
<div class="hotspot blink" style="top: 75.67567567567568%; left: 24.11764705882353%; width: 2.941176470588235%; height: 4.158004158004158%; background: #4cc744; border: 1px solid #cc0000; border-radius: 20px; opacity: 0.8" id="hotspot_1447273633703" data-location="top" data-template="" data-templatename="" data-opacity="0.8" data-backcolor="#000000" data-textcolor="#ffffff" data-textalign="center" data-margin="5" data-padding="10" data-width="0" data-delay="0" data-trigger="hover" data-issticky="true" data-hotspot-x="24.11764705882353" data-hotspot-y="75.67567567567568" data-hotspot-blink="true" data-hotspot-bgcolor="#4cc744" data-hotspot-bordercolor="#cc0000" data-hotspot-borderradius="20">
<div class="data-container">Yosemite Bug Rustic Mountain Resort</div>
</div>

<div class="hotspot blink" style="top: 67.35966735966737%; left: 32.794117647058826%; width: 1.7647058823529411%; height: 2.7027027027027026%; background: #000000; border: 1px solid #cc0000; border-radius: 20px; opacity: 0.8" id="hotspot_1447273714488" data-location="top" data-template="" data-templatename="" data-opacity="0.8" data-backcolor="#000000" data-textcolor="#ffffff" data-textalign="center" data-margin="5" data-padding="10" data-width="0" data-delay="0" data-trigger="hover" data-issticky="true" data-hotspot-x="32.794117647058826" data-hotspot-y="67.35966735966737" data-hotspot-blink="true" data-hotspot-bgcolor="#000000" data-hotspot-bordercolor="#cc0000" data-hotspot-borderradius="20">
<div class="data-container">Day Hike Along the Merced South Fork</div>
</div>

</div>
</div>
