<div class="panel">
Panorama
</div>

<div class="panel">
  Weddings & Groups
</div>
<div class="row">
  <div class="large-6 columns">Text</div>
  <div class="large-6 columns"><%= image_tag('groups_carousel/Weddings.jpg', alt: 'Groups and Weddings') %> </div>
</div>

<div class="panel">
Banquets & Packages
</div>

<div class="row">
  <div class="large-6 columns"><%= image_tag('groups_carousel/BanquetsandPackages.jpg', alt: 'Banquets') %></div>
  <div class="large-6 columns">TEXT</div>
</div>

<div class="panel">
  Accomodations
</div>

<div class="row">
  <div class="large-6 columns">TEXT</div>
  <div class="large-6 columns"><%= image_tag('groups_carousel/Accommodations.jpg', alt: 'Banquets') %></div>
</div>
<div class="panel">
  Sample Menu
</div>
<div class="panel">
  Comments
</div>
