<div class="panel">
Panorama
</div>

<div class="panel">
  Weddings & Groups
</div>
<div class="row">
  <div class="large-6 columns">
    <p class='justify-text'>
      Weddings: <br>
      The perfect alternative to expensive hotel weddings is here at the Yosemite Bug Rustic Mountain Resort.
      Here you have Yosemite as a destination, a beautiful natural location on our 50 acres, a variety of
      accommodations, food & beverage menus and venues to complete your needs. We do not specialize in high
      profile weddings, but we do cover you basic wedding needs very well with our helpful staff and facilities.
    </p>
    <p class='justify-text'>
      Groups: <br>
      Check out the options you have at a value for simpler, but gregarious & formative family & friends event.
      You spend quality time over meals, receptions, outdoor activities, health spa gatherings, fireside music
      fun and ceremonies that bring people together in positive ways for the best experience. Drop by for a visit
      and look about with our Group Coordinator Carrie.
    </p>
  </div>
  <div class="large-6 columns"><%= image_tag('groups_carousel/Weddings.jpg', alt: 'Groups and Weddings') %> </div>
</div>

<div class="panel">
Banquets & Packages
</div>

<div class="row">
  <div class="large-6 columns"><%= image_tag('groups_carousel/BanquetsandPackages.jpg', alt: 'Banquets') %></div>
  <div class="large-6 columns">
    <p class='justify-text'>
      We know it can be difficult to find a place for your small to medium sized group to gather in the Yosemite
      region, especially if you need the flexibility of accommodations and the great convenience of full services
      with out the price.
    </p>
   <p class='justify-text'>
     Group packages start at $50.00 per person per night including taxes to $175.00 per person per night
     depending on food and room package options.
   </p>
    <p class='justify-text'>
      The Bug has an natural setting in a forest grove above a gorge with campus style, well maintained
      facilities and amenities for groups.
    </p>
    <p class='justify-text'>
      Groups leave and let us know we'll be seeing more of them! It's the atmosphere, food, clean, quality
      facilities, staff, rooms, activities, & location. We have hosted friend and family reunions,
      outdoor adventure groups, sport groups, weddings, company seminars and retreats, educational
      groups, scientific workshops, sales presentations, wilderness classes, theater, parties, etc.
    </p>
  </div>
</div>



<div class="panel">
  Lodging
</div>

<div class="row">
  <div class="large-6 columns">
    <p class='justify-text'>
      Private rooms with bath cabins accommodate up to 48 people, private rooms with shared baths accommodate up to 24 guest. 24 rooms total.

    </p>
    <p class='justify-text'>
      Tent cabins accommodate up to 36 guests, and hostel group dorms accommodate up to 58 guests.

    </p>
    <p class='justify-text'>
      ROOM RATES run from $26 to $400 per night, see our lodging page.

    </p>


  </div>
  <div class="large-6 columns"><%= image_tag('groups_carousel/Accommodations.jpg', alt: 'Banquets') %></div>
</div>
<div class="panel">
  <p class='justify-text'>
    Our set up makes it easy for us to serve large parties efficiently in the Café.
    We offer full service informal dining for 18% service charge for parties of 40
    or more. We do handle the tables, configuration, set-up and take-down. You may
    decorate how you like but we ask that our décor is undisturbed. We are flexible
    with our service ware, and can refer you to a linen rental or other vendors as needed.
  </p>
  <p class='justify-text'>
    If the party is very large, we ask for an earlier dining time, since we do have
    many guests during service hours. You may bring wine at a $5.00 corkage fee per
    bottle, but you will find our wine choices to be excellent at the right price.
    We offer the following menu with items well suited for the season and the unpredictability
    of wedding times.
  </p>
</div>
<div class="row">
  <div class="large-6 columns">
    <div class="panel">
      $20 Entree's plus tax and 18% Service Charge <br>
      Choose two:
    <ul>
      <li>Mushroom or Butternut Squash Risotto</li>
      <li>Miso Glazed Tofu or Tempeh</li>
      <li>Stuffed Eggplant with Lentils and Barley</li>
      <li>Meat or Vegetarian Lasagna</li>
    </ul>
    </div>

  </div>
  <div class="large-6 columns">
    <div class="panel">
      $25 Entree's plus tax and 18% Service Charge <br>
      Choose Two:
      <ul>
        <li>Spicy Moroccan Lamb Stew</li>
        <li>Roast Beef with Horseradish Sour Cream</li>
        <li>Stuffed Pork Loin with Sausage and Fennel</li>
        <li>Teriyaki or BBQ Chicken or Salmon</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <div class="panel">
    Sides with Entree's <br>
    Choose 2:
    <ul>
      <li>Roasted or Mashed Potatoes</li>
      <li>Quinoa Pilaf</li>
      <li>Creamy Polenta</li>
      <li>Black or Baked Beans</li>
    </ul>
    </div>

  </div>
  <div class="large-6 columns">
    <div class="panel">
      Appetizers, $3-$4 Per Person: <br>
      <ul>
        <li>Assorted Cheese and Crackers</li>
        <li>Antipasta Selection</li>
        <li>Stuffed Mushrooms</li>
        <li>Proscuitto wrapped Melon with Balsamic</li>
        <li>House cured Salmon with Rye Toast Points and Fixings</li>
      </ul>
    </div>
  </div>
</div>
<div class="panel">
<p class='justify-text'>
  Dear Carrie and Staff,
<br>
Thank you for hosting our 2011 Americorps Orientation. As always your accommodations are perfect for our needs and provides a beautiful scenic setting for our members. We are exceptionally grateful for your partnership and support of our work. Thank you for providing delicious meals and offering such variety at lunch.
Again Thank You for providing a wonderful Sierra experience for our 2011 Americorps members.
<br>
Allison Perla ( need to check spelling of her name)
SNAP Regional Coordinator.
</p>
</div>
