 <div class="row">
  <div class="large-6 columns">
     <h1><%= image_tag('wedding.png', alt: 'Logo', 'data-interchange' => "[#{image_path('wedding.png')}, (retina)]") %></h1>
  </div>
    <div class="large-6 columns left">
        <div class="row collapse">
          <div class="panel lodgingpanel">
            <h1>Weddings</h1>
            <p>
            If you are looking for a simple, rustic and inexpensive, yet memorable
            wedding or reception you may have found your best choice for parties of 20 or more.
            Please browse our packages.
            </p>
          </div>
        </div>
    </div>
</div>
 <div class="row">
  <div class="large-6 columns">
     <h1><%= image_tag('wedding.png', alt: 'Logo', 'data-interchange' => "[#{image_path('wedding.png')}, (retina)]") %></h1>
  </div>
    <div class="large-6 columns left">
        <div class="row collapse">
          <div class="panel lodgingpanel">
            <h1>Groups</h1>
            <p>
            We know it can be difficult to find a place for your small to medium sized group to
            gather in the Yosemite region, especially if you need the flexibility of accomodations and
            the great convenience of full services without the price. <br />
            </p>
            <p>
            Packages start at $50.00 to $175.00 per person per night depending on food and foom package options.
            </p>
          </div>
        </div>
    </div>
</div>
 <div class="row">
  <div class="large-6 columns">
     <h1><%= image_tag('wedding.png', alt: 'Logo', 'data-interchange' => "[#{image_path('wedding.png')}, (retina)]") %></h1>
  </div>
    <div class="large-6 columns left">
        <div class="row collapse">
          <div class="panel lodgingpanel">
            <h1>Meetings</h1>
            <p>
            <strong>Bodie Room:</strong> We have a 1800 sq. ft meeting room done in tatami panels,
            knotty pine trim, birch flooring and reed glass windows.  Great for activities, workshops, conferences,
            meetings, displays, and receptions for up to 120 people.  We can do a myraid of table and stage
            configurations as well as provide some audio/visual equiptment.
            </p>
          </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="class large-12 columns">
    <div class="panel">
      <h1> Meetings and Receptions: </h1>
      <strong>Amphitheater</strong>
      <p>
        There is a 70 seat amphiteheater with a fire pit for day classes, functions or evenings gatherings.
        The amphitheater is situated under pines iwht a larger lawn area for more seating and other
        uses.  $75 a day for meeting use.
      </p>
      <strong>Tenaya Room</strong>
      <p>
        In the Junebug Cafe we can accomodate up to 30 people  for day meetings and luncheons, or dinner parties.
        The room is glass enclosed with beautiful views of the Bear Creek Gorge.  Wifi access.  $75 for
        day meeting use.
      </p>
      <strong>Summer Deck</strong>
      <p>
        Great for a reception or summer luncheons, this sunlight dappled deck under the Black Oaks along the lodge
        has 5 large tables for up to 50 people.  Wifi access.  $75 or day meeting use.
      </p>
      <strong>Spa Studio</strong>
      <p>
        The Spa is excellent for related activities such as yoga, dance, exercise, martial arts
        and t'ai chi.  We can organize these for a per person price or you can organize with a rental fee for the space.
        You may hold workshops, meetings, gatherings, and other group events when you rent the entire spa.
      </p>
    </div>
  </div>
</div>
