<footer class="row">
<div class="large-12 columns">
  <hr>
  <div class="row">
    <div class="large-6 columns">
        <ul class="inline-list left">
          <li> © Yosemite Bug Rustic Mountain Resort <br></li>
          <li> 6979A Highway 140, Midpines CA 95345</li>
          <li> ph: 866-826-7108</li>
        </ul>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list right">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
