<footer clas="row">
<div class="large-12 columns footer">
  <hr>
  <div class="row">
    <div class="large-6 columns">
        <ul class="inline-list left">
          <b>
          <li> © Yosemite Bug Rustic Mountain Resort <br></li>
          <li> 6979A Highway 140, Midpines CA 95345</li>
          <li> ph: 866-826-7108</li>
        </b>
        </ul>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list right">
        <li class="link"><a href="#">Cafe</a></li>
        <li class="link"><a href="#">Groups</a></li>
        <li class="link"><a href="#">Spa</a></li>
        <li class="link"><a href="#">Directions</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
