 <div class="row">
  <div class="large-3 columns">
    <h1><img src="http://placehold.it/400x100&text=Logo"></h1>
  </div>
    <div class="large-9 columns right">
      <form>
        <div class="row collapse">
          <div class="large-10 small-8 columns">
            <input type="text"/>
          </div>

          <div class="large-2 small-4 columns">
            <a href="#" class="postfix button expand">Search</a>
          </div>
        </div>
      </form>
    </div>
</div>

<div class="row">
  <hr>
  <div class="large-2 columns">
    <img src="http://placehold.it/400x300&text=[img]">
    <br>
    <img src="http://placehold.it/400x300&text=[img]">
    <br>
    <img src="http://placehold.it/400x300&text=[img]">
    <br>
    <img src="http://placehold.it/400x300&text=[img]">
  </div>
  <div class="large-5 columns">
  <%= image_tag('cafe_diner.JPG', alt: 'Description', 'data-interchange' => "[#{image_path('cafe_diner.JPG')}, (retina)]") %>
  </div>
  <div class="large-5 columns">
    <h4>Latest News:</h4>
    <div class="panel">
      <h5> <%= @article.title %> </h5>
    <h6 class="subheader"> <%= truncate( @article.content, length: 700, separator: " ", :escape => false) %> </h6>
    <a href="#" class="small button">Read More</a>
    </div>

  </div>
  </div>

  <div class="row">
  <hr/>
    <div class="large-6 columns">
    <h4>This is a content section.</h4>
    <p>Tucked away on its own bend along the stream, perched under a grove of
      black oaks, the Yosemite Bug Rustic Mountain Resort has a magical feel.
      Located only 26 miles away from Yosemite Valley along California's scenic,
       open all year Highway 140. The Bug offers a relaxed and social atmosphere
       where families, backpackers and international travelers all find welcome
       and a variety of affordable accomodations and amenities an old time
       mountain resort would have.</p>
  </div>
  <div class="large-6 columns">
    <h4>This is a tweet section.</h4>
    <p><%= render :template => 'tweet_feed/index' %></p>
  </div>

  </div>

  <div class="row">
  <hr>
  <div class="large-12 columns">
    <h4>You might also like:</h4>
    <img src="http://placehold.it/200x150&text=[img]">
    <img src="http://placehold.it/200x150&text=[img]">
    <img src="http://placehold.it/200x150&text=[img]">
    <img src="http://placehold.it/200x150&text=[img]">
  </div>
</div>
