 <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="#">
            <strong class="show-for-small-only">
            Yosemitie Bug
            </strong>
            <strong class="hide-for-small-only">
              Yosemite Bug Rustic Mountain Resort
            </strong>
          </a>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">

      <ul class="right">
        <li class="divider"></li>
        <li class="bookus"><a href="#">Book Us</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Activities</a>
          <ul class="dropdown">
            <li><label>Activities</label></li>
            <li class="has-dropdown">
              <a href="#" class="">Seasonal Activities</a>
              <ul class="dropdown">
                <li><a href="#">Summer</a></li>
                <li><a href="#">Fall</a></li>
                <li><a href="#">Winter</a></li>
                <li><a href="#">Spring</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#">About Us</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Amenities</a>
          <ul class="dropdown">
            <li><a href="#">Lodging</a></li>
            <li><%= link_to 'Cafe', cafe_index_path %></li>
            <li><%= link_to 'Spa', spas_index_path %></li>
            <li><a href="#">About</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
      </ul>
    </section>
</nav>
