<div class="row">
  <div class="class large-12 columns">
    <div class="class large-8 large-centered columns">Amenities</div>
    <div class="class large-8 large-centered columns">
      <div class="panel">
        <h4>HOT TUB / HOT ROCK SAUNA / COLD RAIN SHOWER </h4> <br>
        <p><strong>$10 Access all day, open 10am to 10pm</strong><p>
        <p>
        Large cedar sauna with hot rocks with eucalyptus water. Jump under the
        cold rain shower adjacent after sauna use or into our stainless steel hot tub.
        </p>
        <p>
        Our spring fed hot tub is kept bacteria-free without the use of harsh chemicals.
        Hydrogen peroxide (H2O2) and ultra violet light are used to maintain the
        tub, as well as to support your overall wellness by delivering much-needed oxygen to
        your cells.
        </p>
        <br>
        Add Some Image Content
      </div>
      <div class="panel">
        <h4><center> MASSAGE THERAPY</center></h4>
        <p>
        $75 one hour. Available 10am to 9pm daily. Our treatment rooms are differing
        decor rooms with asian flair with candles, music, water features and warm hardwood floors. Facility use is included.
        </p>
        <p>
          Our Therapists offer Synergy style massage. Schedule appointments in advance or
          upon check-in. Deep Tissue available at $10 extra.
        </p>
      </div>
      <div class="panel">
        <h4> <center>BODY SCRUB MENU </center> </h4>
        <p>
        HERBAL BODY SCRUB: $65, 45 minutes. Use our bathing suit for the process
        if you like. Sauna first to open the pores. A massage like rub onto your
        body with the herbal skin mud by a therapist. Get into a Skin Renewal Herbal
        Bath and wash off with bath packet. Rinse completely off body in tub with wand,
        do not soap off.
        </P>
        <p>
        We are very happy to offer this product to you!
        A local herbalist created this formula to exfoliate and moisturize skin,
        detoxify the body, and ease stressed muscles. With the exfoliating properties
        this scrub gets circulation going without being abrasive. Ingredients include honey,
        aloe vera, celtic sea salt, kelp, bentonite clay, chamomile, oats, quinoa,
        mung beans, sesame seeds, and vitamin A and E. This is a hand-ground, local,
        labor of love!
        <p>
      </div>
    </div>
  </div>
</div>
