/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require litetooltip
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 // table
@import "foundation_and_overrides";


// NavBar
.top-bar {
  background: #2D5077;
}
.top-bar-section li:not(.has-form) a:not(.button) {
 background: #44aaff;
}
.top-bar-section ul li.bookus > a:not(.button){
  background: red;
}
.top-bar .name h1 a:before {
    background-image: image-url('bug_logo_thumb.png');
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 38px;
    margin-right: 10px;
    position: relative;
    float: left;
    width: 150px;
}

.logo_image{
  // float: left;
  align: left;
}

// Footer
.footer {
  background: #6A724D;
}

// Body
body{
  background: #FFFFFF;
  //background: rgba(199, 233, 255, 0.5);
  font-family: 'Baskerville', serif;
}

// Panels
.panel{
  border-color: $granite-grey;
  background-color: #CDC7BD;
  border-size: 2px;
  top: -1.00rem;
  margin: auto;
  font-weight: 900;
}

image.map{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Images
.panel img {
  float: right;
}
.index_page img{
  width: 100%;
  height: auto;
}
.lodging_page img{
  width: 100%;
  height: auto;
}

// Group
.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
clear: both;
}
.group {
zoom: 1; /* IE6&7 */
}

// links
.link a {
  color: white;
}
