<div class="row"></div>
  <div class="class large-12 columns">
    <div class="class large-8 large-centered columns">
      Spring Activities
    </div>
    <div class="class large-8 large-centered columns">
      RECOMMENDED SPRING ITINERARY
    </div>
    <div class="class large-8 large-centered columns">
        <div class="panel">
          Spring is a varied and unpredictable time in Yosemite, but we believe
          it is the most magical. Generally starting hereabouts April to mid-June
          you will find spring in the mountains is all about altitude. The wildflowers
          and green grass debut in April and the songbirds come with the budding
          trees in May. In any case, beat the crowds and come early for a grand
          show of the waterfalls anytime.
        </div>

        <div class="panel">
          <strong>Easter Week:</strong> <br>
          The Cafe will sport a great Easter (modal pop up?)menu along with spring events,
          see NEWS tab above. Spring Break starts up to a month before and up to
          a week afterwards. Fireside music starts in mid May twice a week.
          <br>
        </div>

        <div class="panel">
          WATERFALLS NOW! Yes, waterfalls everywhere. This is the TRUE Rivendell. <br>
          <p>
          See Yosemite Falls at the paved Lower Yosemite Falls bus stop and take the Upper Yosemite Falls trail from Camp
          4 past lunch spot Columbia Rock for a stunning up close view.
          </p>
          Vernal Falls is splashing mist into the heavens and you can get wet and smiley trudging up the Mist Trail to lunch at the top sbove the fall line.
          Be sure to glimpse the Illilouette Falls on the way up far right ridgeline. Dogs on leashes can go to the bridge.
          <p>
          If you are crazy in love with falls, go up the John Muir Trail past Vernal & Nevada Falls around the Panorama
          Trail past Illilouette Falls to Glacier point. Then down 4 Mile Trail showing you the Yosemite Falls across the
          Valley. Along with a bunch of others. Do this in late spring.
          </p>
          <p>
          Of course, stop at Bridalveil Falls jetting from the bottom of a stunning glacial hanging valley formation.
          This is short & paved and allows dogs. You can also see this from Tunnel View point and from the El Capitan
          Valley Loop stop.
          </p>
          <p>
          From this stop look for the rare Ribbon Falls to the left of El Capitan. Ribbon is the sixth tallest free-falling
          falls in the world.
          For excellent photography look for the Horseshoe Falls to the right of El Capitan, but you must come the 19th to the
          24th of February to catch it with the sunset for a "Firefall" that lasts a few minutes.
          </p>
          <p>
          You will find many other falls and cascades, from the Cascades to the Step Falls. Some years, water just pours
          down from everywhere. Make your own discoveries.
          </p>
          <p>
          In warm, uncrowded, Hetch Hetchy day in mid-spring. park at the dam, walk across it into a tunnel, then follow the trail
          past two waterfalls: Wapama and Tueeulala. For a longer day walk all the way to Rancheria Falls with the bridge over it.
          </p>
          <p>
          For Yosemite veterans, look for the sly Chilnualna Falls in the Wawona Valley. It hides from you until you are upon it.
          </p>
        </div>
        <div class="panel">
          WHITEWATER RAFTING is the biggest attraction on the Merced River from April through June. The rafting takeout is just
          3 miles from the Bug. The Merced, one of Yosemite's gems, pulses and undulates, and makes an exciting addition to your stay.
          You'll find thrilling Class III and IV whitewater. and straightaways someone should push you in for a swim.
          Many companies offer Merced River with lunch just Google. This is a fantastic family or group activity.
          The raft rentals on the Merced are within the Park and are for summer only.
        </div>

        <div class="panel">
          KAYAKING season starts in March on the Merced River, but know that you must have your own equipment to enjoy. BYOK.
           Kayaking is popular from the Red Bud Day Use Area this side of El Portal all the way past the Class VI Merced
           falls to Bagby Reservoir. We are the best stop for a hot tub, sauna, cold beer and hot meal afterwards.
        </div>
        <div class="panel">
          MOUNTAIN BIKING is still great in the lower elevations outside the Park. There is nowhere in the Park to ride except
           for paved areas after May. You can ride singletrack going upstream from the Bay Bridge look-alike at the Briceberg
           BLM Merced Wild and Scenic Day Use area three miles down from the Bug. It has been cleared for about five miles on
           an old rail bed going upstream on the left. You may have to pop your bike over a downed log or little stream,
           but who cares, it's on the sunnyside of the river!
       </div>
       <div class="panel">
         WILDFLOWER HIKE along the South Fork of the Merced in wildflower season is worth all four miles there. Beautiful
         wildflowers and deep canyon scenery make this walk exceptional. You will find it a fantastic dog trail. At the end
         of this hike you will see some old Victorian Mine equipment before coming upon the Hite's Gold Mine remains. $3 million
         in gold was taken from this vein.
         Since the same place was the wintering ground for the Ahwahnee Indians from Yosemite Valley, a squaw who became John Hite's wiffe showed him the gold.
         Furthermore, the Mariposa Battalion massacred many of the tribe at the same spot after a spat with the lying Savage Trading Post still at the trailhead.
         THIS HIKE IS CLOSED IN SUMMER.
       </div>
    </div>
  </div>
</div>


