<div class="row"></div>
  <div class="class large-12 columns">
    <div class="class large-8 large-centered columns">
      Spring Activities
    </div>
    <div class="class large-8 large-centered columns">
      RECOMMENDED SPRING ITINERARY <br>
      Summer is about long days, river swims and backcountry exploration in Yosemite.
      It is the busiest time of year, but there are always great places to go to avoid
      the crowds and heat. We regard summer as when the heat goes up and the river slows
      down: About mid-June through September. Too many options to choose from. We have
      music firesides a few times a week in the evening and we start cooking with our Bug Garden's produce.

      Our special holiday week in the Cafe is July 4th.(modal) See our INCLUSIVE HOLIDAY MENU
       for the evening of the 4th.
    </div>

    <div class="class large-8 large-centered columns">
      <div class="panel">
        SWIMMING & RAFTING are fantastic in the Merced River. In the Park, you can rent small fun rafts to just jump in
         for a cool down. Downstream further in the Merced Wild and Scenic Area you can find great beaches from the Day
         Use area near the Bug. Enroute to the park along Highway 140 you can stop where there are cars, and you will find
          holes and beaches to swim in. One has a super tire swing hanging from a tree.
      </div>
    </div>

  </div>
</div>
