<div class="logding_page" orbit-container>
  <ul class="private_rooms_orbit" data-orbit data-options="pause_on_hover:false; timer_speed:10000;">
    <li class="active">
    <%= image_tag('lodging_carousel_heated_tent_cabins/TENTCABINEXTERIOR.jpg', alt: 'Tent Cabin Exterior') %>
    <div class="orbit-caption">
      Tent Cabin Exterior
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_heated_tent_cabins/HEATEDTENTCABINDOUBLE.jpg', alt: 'Tent Cabin Double') %>
    <div class="orbit-caption">
      Tent Cabin Double
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_heated_tent_cabins/HEATEDTENTCABINDOUBLEB.jpg', alt: 'Tent Cabin Double') %>
    <div class="orbit-caption">
      Tent Cabin Double
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_heated_tent_cabins/HEATEDTENTCABINQUAD.jpg', alt: 'Tent Cabin Quad') %>
    <div class="orbit-caption">
      Tent Cabin Quad
    </div>
    </li>
     <li>
    <%= image_tag('lodging_carousel_heated_tent_cabins/HEATEDTENTCABINQUADB.jpg', alt: 'Tent Cabin Quad') %>
    <div class="orbit-caption">
      Tent Cabin Quad
    </div>
    </li>
     <li>
    <%= image_tag('lodging_carousel_heated_tent_cabins/HEATEDTENTCABINTWINS.jpg', alt: 'Tent Cabin Twins') %>
    <div class="orbit-caption">
     Tent Cabin Twins
    </div>
    </li>
    <li>
     <%= image_tag('lodging_carousel_family/CAMPINGSINKROOM.jpg', alt: 'Camping Sink Room') %>
    <div class="orbit-caption">
      Camping Sink Room
    </div>
    </li>
    <li>
    <%= image_tag('lodging_carousel_family/CAMPINGRESTROOMS.jpg', alt: 'Camping Restroom') %>
    <div class="orbit-caption">
      Camping Restroom
    </div>
    </li>
     <li>
    <%= image_tag('lodging_carousel_family/SHOWERROOMS.jpg', alt: 'Camping Shower Room') %>
    <div class="orbit-caption">
      Camping Shower Room
    </div>
    </li>
</div>
